.navmain{
    z-index: 30000;
    background-size: contain;
    display: flex;
    width: 100%;
}
.navleft{
    background-color: white;
    background: url(https://as2.ftcdn.net/v2/jpg/02/23/34/01/1000_F_223340152_2wYfyeq0RVz81lEx68orsDnY5zqKX8OP.jpg) no-repeat center/cover;
    width:300px;
    height: 100px;
    display: inline-block;
    position: relative;
    clip-path: polygon(0 0, 250px 0, 150px 100px, 0% 100%);
}
.navright{
display: flex;
margin-top: 40px;
margin-left: 55%;

}

.button1{

  height:30px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  border-radius: .5rem;
  border: none;
}
.button2{
margin-left:15px;
  height:30px;
  width: 30px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: .5rem;
  border: none;
}


@media screen and (max-width: 600px) {
.navleft {
  background-color: white;
  background: url(https://as2.ftcdn.net/v2/jpg/02/23/34/01/1000_F_223340152_2wYfyeq0RVz81lEx68orsDnY5zqKX8OP.jpg) no-repeat center/cover;
  width: 100%;
  height: 150px; 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.navright {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
}

.button1, .button2 {
  height: 30px;
  margin-bottom: 10px;
}

  .navmain {
    z-index: 30000;
    background-size: contain;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
  }

  .navright {
    margin-top: 0;
    margin-left: 0; 
  }
}
